{# pagina/templates/registration/password_reset_complete.html #}
{% extends 'base.html' %}

{% block title %}Restablecimiento Completo{% endblock %}

{% block content %}
     <div class="row justify-content-center">
        <div class="col-md-6 text-center">
             <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-success mb-4">¡Contraseña Restablecida!</h2>
                    <p class="card-text">Tu contraseña ha sido establecida exitosamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
                    {# Enlace para ir al login #}
                    <p class="mt-4"><a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}