{# pagina/templates/registration/password_reset_email.html #}
{% load i18n %}{% autoescape off %}
{% blocktrans %}Hola {{ user.get_username }},

Estás recibiendo este correo electrónico porque solicitaste un restablecimiento de contraseña para tu cuenta de usuario en {{ site_name }}.{% endblocktrans %}

{% trans "Por favor, ve a la siguiente página y elige una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Tu nombre de usuario (en caso de que lo hayas olvidado) es:" %} {{ user.get_username }}

{% blocktrans %}Gracias por usar nuestro sitio!{% endblocktrans %}

{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}
{% endautoescape %}