{# pagina/templates/registration/password_change_done.html #}
{% extends 'base.html' %}

{% block title %}Contraseña Cambiada{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="mb-4 text-success">¡Tu contraseña ha sido cambiada exitosamente!</h2>
            <p>Ahora puedes iniciar sesión con tu nueva contraseña.</p>
            <p><a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a></p> {# Enlace para volver al login #}
        </div>
    </div>
{% endblock content %}